.total
{
    color:white;
    font-family: Arial, Helvetica, sans-serif;

}.header{
    height:90px;
    background-color:black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:space-between;
    position:sticky;
    top:0px;
}
.header-title{
    width:50%;
    margin-top:35px;
    margin-left:50px;
}
.header-menu{
    width:20%;
    display:flex;
    margin-top:35px;
    margin-right:50px;
    justify-content:space-between;
}
.header-menu>div:hover{
    border:1px grey solid;
}
.body{
    width:100%;
    height:700px;
    background:#131319;
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content:center;
    align-items:center;
    color:white;
    flex-direction:column;
}
.ocean-sunset{
    width:25%;
    height:40%;
    border-radius:10px;
}
.body-titles{
    margin-bottom:60px;
    line-height:65px;
}
.main{width:100%;
    height:1250px;
    background:#171725;
    padding-top:100px;
}
.main-title{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.main-block{
    display:flex;
    padding-top:100px;
    }
.mainbuttons{
    width:50%;
}
.main-buttons-title{
    width:300px;

}
.main-button-title-one{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:250px;
    height:300px;
    border-radius:5px;
    border:1px grey solid;
    margin-top:75px;
    margin-left:250px;
    line-height:40px;
    padding:40px;
}
.main-buttons button{
    border:1px grey solid;
    background:transparent;
    border-radius:15px;
    color:white;
    padding-right:15px;
    padding-left:15px;
    padding-top:5px;
    padding-bottom:5px;
    line-height:10px;
}
.main-buttons>button:hover{
    transition:0.5s;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow:0px 0px 10px #667eea;
    transition:0.5s;
}

.main-des{
    width:50%;
}
.start-pro>button:hover{
    box-shadow:0px 0px 10px #6b6dd2;
    cursor:pointer;
}
.main-con{
    display:flex;
   margin:150px;
    border:1px grey solid;
    justify-content:space-between;
    padding:50px;
    border-radius:15px;
    line-height:35px;
}
.fps{
background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
background-clip:text;
-webkit-background-clip:text;
-webkit-text-fill-color: transparent;
font-size:45px;
font-weight:700;padding-bottom:15px;

}
.con-info{
    display:flex;
    justify-content:center;
    gap:200px;
}
.con-title{
    width:35%;

}
.message{
    color:white;
    width:450px;
    background:transparent;
    border-radius:10px;
    height:100px;
}
.address>div:hover{
    box-shadow:0px 0px 10px #6b6dd2;
    transition: 0.5s;
    margin-left:15px;;
}
.follow{
    font-weight:bold;padding-bottom:50px;
}
.follow-us{
    display:flex;
    gap:30px;
} 
.follow-us>i:hover{
    background:linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    margin-top:1px;
    box-shadow:0px 0px 10px violet;
    transition: 0.5s;
}
.address-email{
    display:flex;
    align-items:center;
}
.address-email>i{
    background:linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding:15px;
    border-radius:10px;
    margin-right:20px;
    margin-left:10px;
}
.con-button>button:hover{
    box-shadow: 0px 0px 10px violet;
    margin-bottom:3px;
}