body{
    background:linear-gradient(45deg,black,orange);
}
.header{
    display:flex;
    justify-content:space-between;
    padding-left:200px;
    padding-right:200px;
    padding-top:25px;
    padding-bottom:25px;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow:0px 0px 0px black;
    background-color:black;
    position:sticky;
    top:0px;
}
.header-menu{
    display:flex;
    color:white;
}
.header-menu>div{
    margin-right:65px;
}
.header-title{
    background:linear-gradient(to right,orange,white,aqua);
    background-clip:text;
    -webkit-background-clip:text;
    -wibkit-text-fill-color:transition;
    color:transparent;
}
.header-menu>div:hover{
    border:1px orange solid;
}
.limits{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:600px;
    line-height:60px;
    color:white;
}
.limits-buttons{
    display:flex;
    justify-content:center;
}
.button-one{
    background:linear-gradient(45deg, rgb(181, 127, 26), #548ea6);
    border:none;
    color:white;
    padding-top:13px;
    padding-bottom:13px;
    padding-left:20px;
    padding-right:20px;
    font-size:15px;
    margin-right:15px;
    cursor:pointer;

    animation :first 3s infinite;
}
@keyframes first{
    0%,100%{
        transform:scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
.button-two{
    border:1px orange solid;
    background:black;
    color:orange;
    padding-top:13px;
    padding-bottom:13px;
    padding-left:20px;
    padding-right:20px;
    font-size:15px;
    cursor:pointer;
}
.core-title{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:65px;
    display:flex;
    justify-content:center;
    margin-top:135px;
    margin-bottom:50px;
   background:linear-gradient(to right,orange,white,aqua);
   background-clip:text;
   -webkit-background-clip:text;
   -webkit-text-fill-color:transition;
   color:transparent;
}
.core-parts{
    font-family:Arial, Helvetica, sans-serif;
    color:white;
}
.core-parts{
    display:flex;
    justify-content:center;
    gap:25px;
}
.core-headings{
    border:1px orange solid;
    border-radius:5px;
    width:250px;
    height:250px;
    line-height:45px;
}
.core-des{
    border:1px orange solid;
     border-radius:5px;
    width:600px;
    height:250px;
    
}
.core-headings>div:hover{
    border:2px orange solid;
}
.about-title{
    font-size:65px;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:center;
    margin-top:150px;
    margin-bottom:100px;
}
.about-des{
    display:flex;
    justify-content: center;
    gap:100px;
    margin-bottom:100px;
}
.about-matter{
    width:30%;
}
.about-boxes{
    width:30%;
}
.about-box-one{
    width:200px;
    height:200px;
    position:absolute;
    box-shadow: 0px 0px 10px orange;
}
.about-box-two{
    width:200px;
    position:absolute;
    height:200px;
    border:2px orange solid;
    border-radius:5px;
    box-shadow: 0px 0px 10px orange;

}
.about-box-three{
    width:100px;
    position:absolute;
    height:100px;
    border:2px lightblue solid;
    border-radius:5px;
    box-shadow: 0px 0px 10px lightblue;
    margin-top:50px;
    margin-left:50px;
}
.about-des{
    display:flex;
    justify-content: center;
    gap:100px;
    margin-bottom:100px;
}
.inno-title{
    display:flex;
    color:white;
    width:30%;
    flex-direction:column;
}
.innovation{
    display:flex;

}
.inno-first{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.inno-box{
    width:200px;
    height:200px;
    border:1px orange solid;
    box-shadow:0px 0px 10px orange,0px 0px 10px aqua;
}
.con-title,.con-form{
    color:white;
}
.con-info{
    color:white;
    margin-top: 35px;
}
.con-main{
    display:flex;
    justify-content:center;
    gap:100px;
    margin:150px;
}
.con-form{
    line-height:35px;
    border:1px orange solid;
    border-radius:5px;
    padding:25px;
}
.con-info-one{
    margin-bottom:35px;
    line-height:25px;
}
.footer{
    background:black;
    width:100%;
    height:150px;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    line-height:35px;
}
.footer-menu{
    display:flex;
    gap:25px;
}
.footer-menu>div:hover{
    color:aqua;
}