body{
    margin:0;
}
.menu{
        display: flex;
        gap:10px
      }
      .p2{
          float:right;
          margin-left:20px;
          position:relative;
          bottom:50px;
          right:20px;
          letter-spacing:5px;
      }
      #a{
          margin-right:20px;
      }
      .p1:hover{
          background-color:rgb(199, 198, 198);
          transform:0.15s;
      }
       .p2:hover{
          background-color:rgb(199, 198, 198);
          transform:0.15s;
      }
      .p1{
          letter-spacing:5px;
      }
      .head{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        z-index: 30;
          box-shadow:5px 5px 10px rgb(164, 162, 162);
      }
     


        .le {
    background-repeat: no-repeat;
    top: 0px;
    /* padding: 420px; */
    max-width: 100%;
    height: 800px;
      }
      
      .img2{
        width:450px;
        height:600px;
      }
      .i2 {
        display:flex;
      }
      .i2 div{
        justify-content:space-between;

      }
      .i2{
        justify-content:center;
      }
      .a1{
        width:565px;
       
      }
.t1{
    display:flex;
}
.men{
    width:450px;
    height:600px;
}

.t1{
    justify-content:center;
}
.f1{
    margin-left:200px;
}
.i2{
    gap:50px;
    margin-bottom:100px;
}
.ab{
    text-align:center;
    margin-bottom:50px;
    font-size:35px;
    text-decoration:none;
    letter-spacing:5px;
}
#tr{
    text-align:center;
    font-size:20px;
    letter-spacing:5px;
}
.ty{
    font-size:20px;
    line-height:30px;
}
.men{
    line-height:30px;
}
.t1{
    gap:80px;
    margin-bottom:100px;
}
.f1{
    width: 80%;
    margin: 0 auto;
}
.le-catering{
position: absolute;
    bottom: -40px;
    left: 40px;
    font-size: 36px;
}
input{
    width: 100%;
    height: 30px;
    font-size: 1rem;
    border-bottom: 1px solid #ccc;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
    